.idea/
app/database_properties.py
app/__pycache__
app/persistence/__pycache__
app/persistence/crawler_service/__pycache__
app/persistence/datasource/__pycache__
app/crawler/__pycache__
*.pyc
app/domain/__pycache__/
app/file_service/__pycache__/
html/
app/database/
app/file_service/
test/__pycache__/
app/enums/__pycache__/
app/persistence/crawler_service/mysql_impl/__pycache__/
app/persistence/datasource/mysql_impl/__pycache__/
app/utils/__pycache__/